body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.main,
header nav{
  width: 75%;
  margin: 32px auto;

}

header nav a {
  color: #233dcb;
  text-decoration: none;
  font-weight: bold;
  background-color: #f1f1f1;
  width: 200px;
}

header nav a:hover{
  background-color: #555;
  color: white;
}
header nav:active {
  color: #41abf2;
}

